html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

/* Scroolbars */
.scrollbar-thin::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-thumb-rounded-full::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.scrollbar-track-rounded-full::-webkit-scrollbar-track {
  border-radius: 10px;
}
